.page {
  background-color: var(--contrast-background-clr);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.btn {  
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 319px;
  padding: 20px 70px 21px 39px;
  font-size: 1.1rem;
  box-shadow: 0 2px 2px 0 var(--shadow-clr);
  transition: all 0.2s ease;
}

.btn:hover {
  box-shadow: initial;
  transform: translateY(2px);
}

.separator {
  display: inline-block;
  border: 1px solid var(--separator-clr);
  width: 100px;
  vertical-align: middle;
}

.separatorTxt {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.label {
  display: block;
  font-size: 1.1rem;
}

.formInput {
  outline: none;
  background-color: var(--contrast-background-clr);
  border: 1px solid var(--border-clr);
  border-radius: 8px;
  width: 300px;
  padding: 18px 20px 19px 20px;
  font-size: 1.05rem;
  transition: all 0.2s ease;
}

.formInput:focus {
  background-color: #FFFFFF;
}

.signupBtn {
  background-color: var(--primary-clr);
  color: var(--background-clr);
  border: none;
  border-radius: 8px;
  width: 319px;
  padding: 20px;
  margin-top: 40px;
  font-size: 1.05rem;
  text-align: center;
  box-shadow: 0 2px 2px 0 var(--shadow-clr);
  transition: all 0.2s ease;
}

.signupBtn:hover {
  box-shadow: initial;
  transform: translateY(2px);
}
