.page {
  background-color: var(--contrast-background-clr);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
