.container {
  display: flex;
  background-color: var(--contrast-background-clr);
  border: 1px solid var(--border-clr);
  outline: 2px solid transparent;
  border-radius: 8px;
  width: 300px;
  height: 60px;
  padding: 18px 20px 19px 20px;
  cursor: text;
  transition: all 0.2s ease;
}

.input {
  background-color: var(--contrast-background-clr);
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.05rem;
  transition: all 0.2s ease;
}

.icon {
  font-size: 1.3rem;
  vertical-align: middle;
  cursor: pointer;
}

.focused {
  background-color: var(--background-clr);
  outline-color: var(--primary-clr);
}

.hovered {
  border-color: var(--primary-clr);
}
